<!DOCTYPE html>
<html>
<head>
    <title>ERROR!</title>
    <link rel="icon" href="./img/error.png">
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <div class="indexContent">
    {{>header}}
    
    {{errorMessage}}
    <img id="errorimage" src="./img/error.png" >
    </div>

    {{>footer}}
</body>




</html>